
li#managers-bar-edit-comment {
  display: block;
  background: transparent url('images/edit-comment.png');
  padding-left: 40px;
}

li#managers-bar-manage {
  display: block;
  background: transparent url('images/manage.png');
  padding-left: 40px;
}

